/*Import*/

@import "grid.css";
@import "colors.css";

/* Reset*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: inherit;
    vertical-align: baseline;
    background: transparent;
}

:root,
body,
ul {
    margin: 0;
    padding: 0;
}

a {
    color: #2979FF;
    text-decoration: none;
}

nav {
    background: #2196F3;
    width: 100vw;
    box-sizing: border-box;
    margin-bottom: 1em;
}

nav .container div {
    display: inline-block;
}

nav div a,
nav div h1 {
    display: inline-block;
    box-sizing: border-box;
    padding: 1em;
    color: aliceblue;
    text-decoration: none;
}

nav div a:hover {
    background-color: rgba(0, 0, 0, .036);
}

.image-container {
    position: relative;
}

.image-container img {
    display: block;
    border-radius: .3em;
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

.border-button {
    position: absolute;
    right: calc(55.5px / 2);
    bottom: calc(55.5px / -2);
}

.button {
    background-color: #039be5;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    letter-spacing: .5px;
    text-align: center;
}

.button.circle {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    vertical-align: middle;
    line-height: 55.5px;
}

.button.large.circle {
    width: 55.5px;
    height: 55.5px;
}

.title {
    display: block;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, .85);
}

.price .from {
    font-size: 1em;
    font-variant: small-caps;
    display: inline-block;
    min-height: .91rem;
}

.price .for {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    font-variant: small-caps;
}

.price .for strong {
    font-size: 2rem;
}

.gallery .title {
    display: block;
    height: 2rem;
    font-size: 0.9em;
    overflow: hidden;
}

.gallery .product .price .from {
    font-size: .91rem;
}

.gallery .product .price .for {
    font-size: 1rem;
}

.gallery .product .price .for strong {
    font-size: 1.2rem;
}

.gallery {
    height: calc(240px + 1.6rem);
}

.carousel {
    overflow-x: hidden;
    width: 100%;
}

.carousel .carousel-viewport{
    transition: all 0.314s cubic-bezier(0.17, 0.84, 0.44, 1) 0s;
}

.product {
    float: left;
    margin: 0px 0.5em;
    position: relative;
    height: calc(240px + 1.6rem);
 }

.center {
    height: 100%;
}
.center span {
    top: 50%;
    transform: translateX(-50);
}

.product .bottom {
    position: absolute;
    bottom: 0;
}


/*** Helpers ***/

.paper,
.image-container,
.button,
nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.right {
    float: right;
}

.card {
    background-color: white;
    border-radius: .3em;
    padding: 1em;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hide-on-small,
.hide-on-med-and-down {
    display: none !important;
}

@media screen and (min-width: 601) {
    .hide-on-small {
        display: unset !important;
    }
    .hide-on-med-and-up {
        display: none !important;
    }
}

@media screen and (min-width: 901px) {
    /*** Helpers ***/
    .hide-on-large {
        display: none !important;
    }
    .hide-on-med-and-down {
        display: unset !important;
    }
}
